[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "3.5.6"
boto3 = "*"


[dev-packages]
ipython = "*"
"flake8" = "*"
pytest = "*"
pandas = "*"
fastparquet = "*"
faker = "*"

[requires]
python_version = "3.12"
